.offers
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container3
{
    width: 100%;
    height: 100%;
    background-image: url('../img/free.png');
    background-size: cover;
    text-align: center;
    background-position: center center;
}
.free
{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10%;
}
.days
{
    font-size: 46px;
    font-weight: 700;
}
.offers input[type=button]
{
    margin-bottom: 5%;
}
.container4
{
    width: 100%;
    height: 100%;
    background-image: url("../img/phone.png");
    background-size: cover;
    text-align: center;
    background-position: center center;
} 
@media only screen and (max-width: 863px) 
{
    .offers
    {
        display: none;
    }
}
